@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-image: url('./Assets/bg.png');
  background-size: cover  ;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
